{% if variant %}
    {% set variantclass = ' media__image-' ~ variant %}
{% endif %}
{% set classes = ['media__image']|merge([variantclass]) %}
{% set attributes = []|default(create_attribute()).addClass(classes) %}

<article class="media media-image">
    <section{{ attributes }}>
        {{ image }}

        {% if variant == 'gallery' %}
            <div class="swiper-lazy-preloader"></div>
        {% endif %}
    </section>
</article>
