{# Template for a single slide #}

{% set classes = classes|default([])|merge(['gallery-slide swiper-slide swiper-slide-' ~ variant]) %}
{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

<div{{ attributes }} data-hash='{{ slide_id_prefix ~ id }}'>
  {{ media }}
  <div class="swiper-lazy-preloader"></div>
</div>
